* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.first-color {
	background: #0e2431;
}

.second-color {
	background: #fc3a52;
}

.third-color {
	background: #f9b248;
}

.fourth-color {
	background: #e8d5b7;
}

.root {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}

.main-container {
	background-color: #e8d5b7;
	min-height: 450px;
	width: 1060px;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: row;
	padding: 40px 80px;
}

.column {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	min-width: 300px;
	position: relative;
}

.rod {
	/* background-color: #fda117; */
	background-color: #f9b248;
	/* height: 300px; */
	width: 20px;
	position: absolute;
	/* top: 0; */
	/* left: 0; */
	bottom: -10px;
	border-radius: 100px 100px 50px 50px;
	z-index: 0;
	transition: all 0.2s;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 300px;
	z-index: 50;
	/* background-color: #f9b248; */
}

.disc {
	height: 40px;
	background-color: #fc3a52;
	border-radius: 12px;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0e2431;
}

.hold {
	border: solid 2px #ca2e42;
}

.hovered {
	box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 10%);
}

.won {
	background-color: #4e9f3d;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.column-1 .disc {
	transition: all 0.5s;
}

.relative {
	position: relative;
	transition: all 2s;
}

.absolute {
	position: absolute;
}
